# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout
    - name: Set up JDK 8
      uses: actions/setup-java
      with:
        java-version: '1.8'
    - name: Build with Maven
      run: mvn -B clean package --file pom.xml -Dmaven.test.skip=true
